<div class="row">
  <div class="sixteen wide column">
    <div id="header">
      <span id="header_name">
        <%= @forum.name %>
      </span>
      <% if user_signed_in? %>
        <%= link_to_if account_signed_in?, "Create Topic", new_forum_topic_path(@forum) %>
      <% end %>
    </div>

    <table class="ui celled striped large padded table" id="topics_table">
      <thead>
        <tr>
          <th class="thirteen wide" id="subject">
            Subject
          </th>
          <th class="three wide" id="created_by">
            Created By
          </th>
          <th class="three wide" id="replies">
            Replies
          </th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
        <tr>
          <td class="selectable">
            <%= link_to abbreviate(topic.subject), topic_path(topic), id: "subject" %>
            <% if user_signed_in? %>
              <% if topic.posts.last.unread?(current_user) %>
                <div class="">
                  UNREAD
                </div>
              <% end %>
            <% end %>
          </td>
          <td id="created_by">
            <%= topic.user.username %>
          </td>
          <td id="replies">
            <%= topic.posts.count - 1 %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @topics %>
  </div>
</div>
