<div class="row" id="fixed_height">
  <div class="sixteen wide left aligned column">
    <h1 class="for_name"><%= link_to @forum.name, forum_path(@forum) %></h1>
  </div>
</div>





<div class="row" id="table_row">
  <div class="sixteen wide column">

    <div class="ui breadcrumb">
      <%= link_to "Forums", forums_path, class: "section" %>
      <div class="divider"> / </div>
      <div class="active section"> <%= @forum.name %> </div>
      <div class="divider"> / </div>
      <%= link_to_if user_signed_in?, "New Topic", new_forum_topic_path(@forum), class: "section" %>
    </div>

    <table class="ui celled striped large inverted table" id="topics_table">
      <thead class="top_tab">

        </tr>
        <tr>
          <th class="thirteen wide" id="subject">
            Latest
          </th>
          <th class="three wide" id="created_by">
            Author
          </th>
          <th class="three wide", id="status">
            Status
          </th>
          <th class="three wide" id="has_read">
            Read
          </th>
          <th class="three wide" id="replies">
            Replies
          </th>
        </tr>
      </thead>
      <tbody>


        <% @topics.each do |topic| %>
        <tr>
          <td class="selectable">
            <%= link_to abbreviate(topic.subject, 45), topic_path(topic), id: "subject" %>

            <% if user_signed_in? %>

              <% if current_user.moderator? %>
                <i class="<%= 'un' if topic.lock == false || topic.lock == nil %>lock icon" id="<%= topic.id %>"></i>
                <i class="<%= if topic.sticky == true then "checkmark" else "pin" end %> icon" id="<%=topic.id%>sticky"></i>
              <% end %>

            <% end %>
          </td>



          <td id="created_by">
            <%= topic.user.username %>
          </td>

          <td id="status">
            <% if topic.lock %>
              <i class="lock icon"></i>
            <% end %>
            <% if topic.sticky %>
              <i class="pin icon"></i>
            <% end %>
          </td>

          <td id="has_read">
            <% if user_signed_in? %>
            <% if !topic.posts.last.unread?(current_user) %>
            <i class="checkmark icon"></i>
            <% end %>
            <% end %>
          </td>

          <td id="replies">
            <%= topic.posts.count - 1 %>
          </td>
        </tr>
        <% end %>


      </tbody>
    </table>

    <%= will_paginate @topics %>
  </div>
</div>
