<div class="row">
  <div class="sixteen wide column">
    <h1>Forums#index</h1>
  </div>
</div>
<p>Find me in app/views/forums/index.html.erb</p>
<%= link_to_if admin_signed_in?, "Create Forum", new_forum_path %>

<h3>Forums List</h3>
<% @forums.each do |forum| %>
  <%= forum.name %>
  <%= link_to "Show", forum_path(forum) %>
  <%= link_to_if admin_signed_in?, "Edit", edit_forum_path(forum) %>
  <%= link_to_if admin_signed_in?, "Destroy", {action: "destroy", id: forum}, method: :delete %>
  <br />
<% end %>
