<div class="row" id="fixed_height">
  <div class="sixteen wide left aligned column">
    <h1 id="forums_header"> <%= link_to "Football Forums", forums_path %></h1>
    <% if admin_signed_in? %>
    <%= link_to_if admin_signed_in?, "Create Forum", new_forum_path %>
    <% end %>
  </div>
</div>



<div class="row">
  <div class="sixteen wide column">

    <div class="ui breadcrumb">
      <div class="active section">Forums</div>
      <div class="divider"> / </div>
    </div>

    <div class="ui inverted segment">
      <div class="ui inverted relaxed divided list">
        <% @forums.each do |forum| %>
        <div class="item">
          <div class="content">
            <a class="header"><%= link_to forum.name.upcase, forum_path(forum), class: "large font" %></a>
            <div class="description">Recent: <%= abbreviate(recent_topic(forum), 40) %> </div>
            <% if admin_signed_in? %>
            <%= link_to_if admin_signed_in?, "Edit", edit_forum_path(forum) %>
            <%= link_to_if admin_signed_in?, "Destroy", {action: "destroy", id: forum}, method: :delete %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
