<h1>Forums#index</h1>
<p>Find me in app/views/forums/index.html.erb</p>
<%= link_to "Create Forum", new_forum_path %>

<h3>Forums List</h3>
<% @forums.each do |forum| %>
  <%= forum.name %>
  <%= link_to "Show", forum_path(forum) %>
  <%= link_to "Edit", edit_forum_path(forum) %>
  <%= link_to "Destroy", {action: 'destroy', id: forum}, confirm: "Are you sure?", method: :delete %><br />
<% end %>
