<div class="sixteen wide center aligned form column">
    <h2 class="arvo">Sign In</h2>

    <div class="ui large form">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div id="threed" class="ui segment">

          <div class="field">
            <%= f.text_field :username, autofocus: true, placeholder: "Username", id: "borderless" %>
          </div>

        </div>

        <div class="ui segment" id="threed">
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password", id: "borderless" %>
          </div>

        </div>

        <div class="ui segment" id="threed">
          <% if devise_mapping.rememberable? -%>
          <div class="field">
            <div class="ui row" id="rememberable">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>

            </div>
          </div>
          <% end -%>

        </div>

        <div class="ui segment" id="threed">
          <div class="actions">
            <%= f.submit "Log in", class: "ui submit button" %>
          </div>

        </div>


        <% end %>
        </div>

        <div id="contrast" class="ui segment">
          <%= render "users/shared/links" %>
        </div>
    </div>

</div>
