<%= form_for @topic do |f| %>
  <% if @topic.errors.any? %>
    <div class="errors">
      There are errors!
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.text_field :subject, placeholder: "Subject" %><br />

  <%= f.fields_for :posts, @post do |ff| %>
    <%= ff.hidden_field :user_id, value: current_user.id %>
    <%= ff.text_area :body, placeholder: "Body" %>
  <% end %><br />

  <%= f.submit %>
<% end %>
