
<table class="ui post table">
  <tbody>
    <tr class="colhead_dark">
      <td colspan="2">
        <%= post.user.username %>

        <% if user_signed_in? %>

        <span>
          <% if current_user == post.user %>
            <%= link_to "Edit", edit_topic_post_path(@topic, post) %>
          <% end %>

          <%= link_to "Bookmark", new_post_bookmark_path(post) %>
        </span>

        <% end %>
        <%= render partial: "arrows", locals: { post: post } %>
      </td>
    </tr>
    <tr>
      <td class="avi_col">
        <img class="ui tiny image" id="tablet" src="<%= post.user.avatar.image.url %>">
        <img class="ui small image" id="computer" src="<%= post.user.avatar.image.url %>">
      </td>
      <td class="body_col">
        <%= @markdown.render(post.body).html_safe %>
      </td>
    </tr>
  </tbody>
</table>
