<h1>Topics#index</h1>
<p>Find me in app/views/topics/index.html.erb</p>


<%= link_to_if user_signed_in?, "Create Topic", new_topic_path %>

<h3>Topics List</h3>
<% @topics.each do |topic| %>
  <%= topic.subject %> <%= link_to_if user_signed_in?, "Show", topic_path(topic) %>
  <%= link_to_if (current_user.id == topic.user_id), "Edit", edit_topic_path(topic) %>
  <%= link_to_if (current_user.id == topic.user_id), "Delete", { action: "destroy", id: topic.id}, method: :delete  %><br />
<% end %>
