<div class="row">
  <div class="sixteen wide center aligned column">
      <h2>
        <%= @topic.subject %>
      </h2>
      <p>
        <% if user_signed_in? %>
          <% if @topic.user_id == current_user.id %>
            <%= link_to "Edit", edit_forum_topic_path(@topic.forum_id, @topic) %>
            <% end %>
        <% end %>
      </p>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <%= link_to "Back to forum", forum_path(@topic.forum) %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <table class="ui celled striped table">
      <tbody>
        <% @posts.each do |post| %>


        <tr>
          <td>
            <%= render partial: "post", locals: { post: post } %>
          </td>
        </tr>


        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="sixteen wide center aligned column">
    <% if user_signed_in? %>
    <%= link_to "Add Post", new_topic_post_path(@topic) %>
    <% end %>

    <%= will_paginate @posts %>
  </div>
</div>
