<h1>Topics#show</h1>
<p>Find me in app/views/topics/show.html.erb</p>

<%= link_to "Back", forum_path(@topic.forum) %>

<div class="">
  <%= @topic.subject %>
  <% if user_signed_in? %>

    <% if @topic.user_id == current_user.id %>
      <%= link_to "Edit", edit_forum_topic_path(@topic.forum_id, @topic) %>
    <% end %>

  <% end %>
</div>

<table class="ui celled table">
  <tbody>
    <% @posts.each do |post| %>


      <tr>
        <td>
          <%= render partial: "post", locals: { post: post } %>
        </td>
      </tr>


    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= link_to "Add Post", new_topic_post_path(@topic) %>
<% end %>
