<div class="row" id="fixed_height">
  <div class="sixteen wide center aligned column" id="head_col">
      <h2 class="ui sticky top_sub_head">
        <%= link_to abbreviate(@topic.subject, 15), topic_path(@topic) %>
      </h2>
        <% if user_signed_in? %>
          <% if @topic.user_id == current_user.id %>
            <%= link_to "Edit", edit_forum_topic_path(@topic.forum_id, @topic), class: "link_color" %>
            <% end %>
        <% end %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">

        <div class="ui breadcrumb">
          <%= link_to "Forums", forums_path, class:"section" %>
          <div class="divider"> / </div>
          <%= link_to @topic.forum.name, forum_path(@topic.forum), class:"section" %>
          <div class="divider"> / </div>
          <div class="active section"> <%= abbreviate(@topic.subject, 15) %> </div>
        </div>

        <% @posts.each do |post| %>


          <%= render partial: "post", locals: { post: post } %>


        <% end %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide center aligned column">
    <% if user_signed_in? && !@topic.lock %>
      <%= link_to "Add Post", new_topic_post_path(@topic), class: "ui submit button" %>
    <% end %>

    <%= will_paginate @posts %>
  </div>
</div>
