<div class="row">
  <div class="sixteen wide center aligned column">
      <%= @markdown.render("# _Wiki_").html_safe %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <%= @markdown_toc.render("### Markdown").html_safe %>
    <%= @markdown_toc.render("### Rules").html_safe %>
  </div>
</div>



<div class="row">
  <div class="sixteen wide column" id="markdown">
    <%= @markdown.render("### Markdown").html_safe %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <%= @markdown.render("_Quote_").html_safe %>
    <p>
      Syntax: > This is a quote
    </p>
    <p>
      output:
    </p>
    <%= @markdown.render('> This is a quote').html_safe %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <%= @markdown.render("_Links_").html_safe %>
    <p>
      Syntax: This is a link to [google](https://www.google.com)
    </p>
    <%= @markdown.render("output: This is a link to [google](https://www.google.com)").html_safe %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <%= @markdown.render("_Underline_").html_safe %>
    <p>
      Syntax: _underlined_
    </p>
    <%= @markdown.render("output: _underlined_").html_safe %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <%= @markdown.render("_Strikethrough_").html_safe %>
    <p>
      Syntax: ~~good~~
    </p>
    <%= @markdown.render("output: ~~good~~").html_safe %>
  </div>
</div>


<div class="row">
  <div class="sixteen wide column">
    <%= @markdown.render("_Highlighted_").html_safe %>
    <p>
      Syntax: ==highlighted text==
    </p>
    <%= @markdown.render("output: ==highlighted text==").html_safe %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <%= @markdown.render("_Superscript_").html_safe %>
    <p>
      Syntax: 2^(2nd) place
    </p>
    <%= @markdown.render("output: 2^(nd) place").html_safe %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <%= @markdown.render("_Italic_").html_safe %>
    <p>
      Syntax: *italic*
    </p>
    <%= @markdown.render("output: *italic*").html_safe %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <%= @markdown.render("_Bold_").html_safe %>
    <p>
      Syntax: **bold**
    </p>
    <%= @markdown.render("output: **bold**").html_safe %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <%= %>
    <p>

    </p>
    <%= %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column" id="rules">
    <%= @markdown.render("### Rules").html_safe %>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <%= @markdown.render("* Treat others respectively.").html_safe %>
    <%= @markdown.render("* The forum language is English only!").html_safe %>
    <%= @markdown.render("* Please do not spam. The definition of spam is an irrelevant or advertising post.").html_safe %>
    <%= @markdown.render("* Please do not post threads text in all CAPITALS since this is considered to be shouting and is not necessary.").html_safe %>
    <%= @markdown.render("* Insulting and flaming or personal attacks against forum staff will be not tolerated.").html_safe %>
    <%= @markdown.render("* Profanity is accepted but please keep it classy and releveant.").html_safe %>
    <%= @markdown.render("* No hacking, and illegal activity.").html_safe %>
    <%= @markdown.render("* Please do not post inappropriate material, I think everyone understands what I mean by this. The policy goes that if you would not feel comfortable viewing it at work, or in front of children or parents, don't post it!").html_safe %>
    <%= @markdown.render("* No racial, sexist, ableist or homophobic slurs.").html_safe %>
  </div>
</div>
