<div class="ui borderless menu" id="computer">
  <div class="ui simple dropdown item">
    <% if user_signed_in? %>
      <span class="large font"><%= current_user.username %></span>
    <% end %>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">
        <% if account_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, {method: :delete, class: "item"} %>
        <% end %>
      </div>
        <% if user_signed_in? %>
          <div class="item">
            <%= link_to "Settings", edit_user_registration_path, class: "item" %>
          </div>
          <% elsif !(account_signed_in?) %>
          <div class="item">
            <%= link_to "Log In", new_user_session_path, class: "item" %>
          </div>
        <% end %>

    </div>

  </div>


  <div class="ui item">
    <%= link_to "Forums", forums_path %>
  </div>

  <% if user_signed_in? %>
    <div class="ui item">
      <%= link_to "Bookmarks", bookmarks_path %>
    </div>
  <% end %>


</div>
