<div class="ui middle aligned center aligned grid">

  <div class="form column">

    <h2 class="arvo">Log in</h2>

    <div class="ui large form">

        <div id="threed" class="ui segment">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.text_field :username, placeholder: "Username", id: "borderless" %>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", id: "borderless" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <div class="ui row">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
                </div>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in", id: "contrast", class: "ui fluid large submit button" %>
            </div>
          <% end %>
        </div>
    </div>

    <div id="contrast" class="ui segment">
      <%= render "admins/shared/links" %>
    </div>

  </div>

</div>
