<div class="row">
  <div class="sixteen wide center aligned column">
    <div class="form column">


      <h2 class="arvo">Forgot your password?</h2>


      <div class="ui large form">


        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div id="threed" class="ui segment">
          <div class="field">
            <%= f.email_field :email, autofocus: true, placeholder: "Email", id: "borderless" %>
          </div>
        </div>

        <div class="ui segment" id="threed">
          <div class="actions">
            <%= f.submit "Reset my password", class: "ui submit button" %>
          </div>
        </div>

        <div id="contrast" class="ui segment">
          <%= render "users/shared/links" %>
        </div>
        <% end %>


      </div>

    </div>

  </div>
</div>
