<%= form_for [@topic, @post] do |f| %>
  <% if errors?(@post) %>
    <%= instance_error_messages!(@post) %>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.hidden_field :topic_id, value: params[:topic_id] %>

  <table class="ui post table" id="form_table">
    <tbody>
      <tr>
        <td class="avi_col">
          <img class="ui tiny image" id="tablet" src="<%= current_user.avatar.image.url %>">
          <img class="ui small image" id="computer" src="<%= current_user.avatar.image.url %>">
          <img class="ui avatar image" id="mobile" src=" <%= current_user.avatar.image.url %> ">
        </td>
        <td class="body_col">
          <%= f.text_area :body, placeholder: "Body" %><br />
        </td>
      </tr>
    </tbody>
  </table>


  <%= f.submit class: "ui submit button" %>
<% end %>
