<div class="row">
  <div class="sixteen wide center aligned column">
    <h1>My Posts</h1>

    <% @posts.each do |post| %>
      <table class="ui post table">
        <tbody>
          <tr class="colhead_dark">
            <td colspan="2">

                <%= link_to "Jump to Topic", topic_path(post.topic) %>

            </td>
          </tr>
          <tr>
            <td class="avi_col">
              <img class="ui tiny image" id="tablet" src="<%= post.user.avatar.image.url %>">
              <img class="ui small image" id="computer" src="<%= post.user.avatar.image.url %>">
              <img class="ui avatar image" id="mobile" src=" <%= post.user.avatar.image.url %> ">
            </td>
            <td class="body_col">
              <%= @markdown.render(post.body).html_safe %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>

    <%= will_paginate @posts %>
  </div>
</div>
