<!DOCTYPE html>
<html>
<head>
  <title>FootballForum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="<%= controller_name %> <%= action_name %>">

  <%= flash_messages! %>

  <div class="black menu">
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, {method: :delete} %>
      <%= link_to "Settings", edit_user_registration_path %>
      <%= link_to "My Posts", "" %>
      <%= link_to "My Topics", "" %>
    <% elsif admin_signed_in? %>
      <%= link_to "Memberships", memberships_path, class: "white link" %>
      <%= link_to "Statuses", statuses_path %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
  </div>

  <%= render "/layouts/menu/mobile" %>
  <%= render "/layouts/menu/tablet" %>
  <%= render "/layouts/menu/computer" %>

  <div class="ui grid container">

    <%= yield %>

  </div>


</body>
</html>
