<div class="ui middle aligned center aligned grid">


      <div class="signup column">

          <h2 class="dull gold color">Sign up</h2>


          <div class="ui large form">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

              <%= devise_error_messages! %>


              <div class="ui stacked segment">

                <div class="field">
                  <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
                </div>

                <p id="error_username" class="red hidden">Username contains invalid characters</p>
                <div class="field">
                  <%= f.text_field :username, autofocus: true, placeholder: "Username" %>
                </div>

                <p id="error_password" class="red hidden">Password is not long enough</p>
                <div class="field">
                  <!-- <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br /> -->
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Password    (8 characters minimum)" %>
                </div>

                <p id="error_confirmation" class="red hidden">Passwords do not match</p>
                <div class="field">
                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation" %>
                </div>

                <div class="actions">
                  <%= f.submit "Sign up", class: "ui fluid large signup submit button" %>
                </div>
              </div>

            <% end %>


          </div>

          <div class="ui tertiary segment">
              <%= render "users/shared/links" %>
          </div>

      </div>


</div>
